<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aim.bocmobileapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PayBills"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".BillerUpdateActivity"
            android:label="Biller Maintenance"
            android:parentActivityName=".BillerMaintainActivity"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".BillerMaintainActivity"
            android:label="Biller Maintenance"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".TransactionSuccessActivity"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".ThirdpartyTransferActivity"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".PayeeUpdateActivity"
            android:label="Payee Maintenance"
            android:parentActivityName=".PayeeMaintainActivity"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".PayeeMaintainActivity"
            android:label="Payee Maintenance"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>